body{
    background-image: url("https://d3qf8nvav5av0u.cloudfront.net/image/9a3c5acb67c0988821c480a2a2475561.jpg?&x=1280&y=720&cx=0&cy=0&cw=1920&ch=1080&icq=74&sig=e0f4baabe52bdf613318957eb6c52e3b");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    color: blue;
    background-color: white;
}

header a{
    color: chocolate;
}

h3{
    color: blue;
    border: 2px solid yellow;
}

table{
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

ul{
    background-color: aqua;
}